<div class="form-wrapper">
  <form id="demo-form" [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <ngxfb-form [formConfig]="formContent" />
  </form>

  <div class="form-actions">
    <button type="button" (click)="setChoiceMode('radio')">Set choice mode: radio</button>
    <button type="button" (click)="setChoiceMode('dropdown')">Set choice mode: dropdown</button>
    <button type="submit" form="demo-form">Print to console</button>
    <button type="button" (click)="reset()">Reset</button>
  </div>
</div>
